<form class="example-form">

  <mat-form-field class="example-form ">
    <input [(ngModel)]="name" name="name" matInput placeholder="first name" value="">
  </mat-form-field>

  <mat-form-field class="example-form ">
    <input [(ngModel)]="email" name="email" matInput placeholder="email" value="">
  </mat-form-field>

  <p class="error" *ngIf="code =='auth/invalid-email'">{{message}}</p>

  <mat-form-field class="example-form ">
    <input [(ngModel)]="password" name="password" matInput placeholder="password" value="">
  </mat-form-field>
  <p class="error" *ngIf="code =='auth/weak-password'">{{message}}</p>
 
  <button mat-raised-button  color="primary" (click) = "signup()"> sign up</button>

</form>

