
<form class="example-form">
<div>
  <mat-form-field >
    <input [(ngModel)]="email" name="email" matInput placeholder="email" value="">
  </mat-form-field>
</div>
 
<div>
  <mat-form-field >
    <input [(ngModel)]="password" name="password" matInput placeholder="password" value="">
  </mat-form-field>
</div>
 

 <button mat-raised-button  color="primary" (click) = "login()"> LOGIN</button> 

 </form> 
 