<div>
    <mat-form-field class="example-form ">
        <input [(ngModel)]="text" name="text" matInput placeholder="add Todo" value="">
        <mat-hint>Todo item</mat-hint>
      </mat-form-field>

      <button mat-raised-button  color="primary" (click) = "addTodo()"> Add Todo</button>
  <ul>
    <todo *ngFor = "let todo of todos" 
    [data]= "todo"
    (myButtonClicked) ="showText($event)"></todo>
  </ul>

</div>
<div>
  this is the text from the child:{{todoTextFromTodo}}
</div>
