<li (mouseenter)="showButton()"
    (mouseleave)="hideButton()">
    <!--edit todo-->
<span *ngIf="!showEditField"(click) = "showEdit()">{{text}}</span>

<mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="text" name="text" matInput >
  </mat-form-field>

 
  <button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "save()"> save</button>
  <button *ngIf="showEditField" mat-raised-button  color="primary" (click) = "cancel()"> cancel</button>
<!--------------->
<button (click) = "send()" *ngIf="showTheButton">  
  click to see 
</button>

<button  mat-raised-button (click) = "delete()" *ngIf="showTheButton">  
Delete
 </button>

</li>